<div class = "comment">
    {{#each comment}}
    <section class = "comment card">
        <div class = "card-body">
            {{user.username}}
        </div>
            <div>
                {{body}}
            </div>
        </section>
    {{#each}}
</div>